@use "/src/styles/constants/colors";
@use "/src/styles/mixins/flexbox";

.todo-card {
  @include flexbox.flexbox($jc: between);
  gap: 8px;
  border: 1px solid colors.$GS_BORDER;
  border-radius: 8px;
  height: 58px;
  padding: 8px;

  .card-button-box {
    display: flex;
    gap: 6px;
  }

  .edit-input-box {
    @include flexbox.flexbox;
    gap: 8px;
    width: 100%;
  }

  &.is-completed {
    p {
      text-decoration: line-through;
    }
  }
}
